/* 
 This CSS file is used to override the existing styles of the theme.
 You can change the article headings, fonts, colors, etc.
*/

body {
    background-color: #f8e7dc;
}

.h-20 {
    height: 5rem;
}

.bg-tlgray-200 {
    --tw-bg-opacity: 1;
    background-color: #f8e7dc;
}