/* 
 This CSS file is used to override the existing styles of the theme.
 You can change the article headings, fonts, colors, etc.
*/

body {
    background-color: #f8e7dc;
}

@media (max-width: 640px) {
    .sm\:h-12 {
        height: 3rem;
    }
}

.site-title-text {
    font-weight: bold;
    font-size: 1.5rem;
    color: #333;
    text-decoration: none;
}

.bg-tlgray-200 {
    --tw-bg-opacity: 1;
    background-color: #f8e7dc;
}

.bg-white {
    --tw-bg-opacity: 1;
    background-color: #ccc;
}

.text-black-08 {
    color: rgb(0 0 0 / 0.8);
}

.bg-white-real {
    background-color: #fff;
}

.pt-\[75\%\] {
    padding-top: 75%;
}

.object-contain {
    object-fit: contain;
}

.inset-0 {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

@media (min-width: 640px) {
    .sm\:grid-cols-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .sm\:grid-cols-3 {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .sm\:text-base {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .sm\:text-2xl {
        font-size: 1.5rem;
        line-height: 2rem;
    }
}

@media (min-width: 768px) {
    .md\:grid-cols-4 {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}